# vi's backups
*.swp

# test stuff and exec scripts (contains my api key)
src/test/
test
test*.cpp
*.sh
*.bat

# binaries
bin/

# assignment miscellany
Assign4/

# intermediate files created when checking syntax with -S
*.s
*.gch

# what in the world is this for?
history.xml
